.text-normal{
    -fx-font-size: 13px;
    -fx-font-family: "Avenir Book";
}

.text-smaller{
    -fx-font-size: 12px;
    -fx-font-family: "Avenir Book";
}

.text-bigger{
    -fx-font-size: 14.5px;
    -fx-font-family: "Avenir Book";
}

#desc{
    -fx-font-size: 14px;
    -fx-text-fill: #76797f;
    -fx-font-family: "Avenir Book";
}

#logo{
    -fx-font-family: "Phosphate";
    -fx-font-size: 48px;
}

#logo-twirl{
    -fx-font-size: 64px;
    -fx-font-family: "Roboto";
    -fx-rotate: -20;
    -fx-text-fill: #FFAC33;

}

.recipe-list-item{
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}

#picture{
    -fx-border-width: 10px;
    -fx-border-color: #76797f;
    -fx-border-radius: 2px;
    -fx-background-radius: 1px;
}

#header{
    -fx-font-size: 24px;
}

#detail-header{
    -fx-font-size: 30px;
}

.recipe-list-item:hover{
    -fx-background-color: #FCFCFC;
}

.reciple-list-item::pressed{
 -fx-background-color: #D0D0D0;
}

.text-area .content {
   -fx-background-color: -fx-background;
}

.text-area  {
    -fx-background-color: -fx-background;
}

#lightBox{
    -fx-background-color: -fx-background;
}